<table class="table table-bordered table-hover">
<thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let manobrista of service.list">
    <td (click)="populateForm(manobrista)">{{manobrista.id}}</td>
    <td (click)="populateForm(manobrista)">{{manobrista.pessoaNome}}</td>
    <td (click)="populateForm(manobrista)">{{manobrista.marcaNome}}</td>
    <td (click)="populateForm(manobrista)">{{manobrista.modeloNome}}</td>
    <td class="text-center"><button (click)="onDelete(manobrista.id)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
  </tbody>
</table>
